<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Генератор паролей</title>
</head>
<body>
    <div class = "wrapper">
    <h1>Генератор паролей</h1>
    <form method="POST">
        <label for="length">Длина пароля:</label>
        <input type="number" id="length" name="length" value="8" min="8" max="30">
        <button type="submit">Сгенерировать пароль</button>
    </form>

    <p>Сгенерированный пароль:</p>
    <input type="text" id="password" value="{{ password }}" readonly>
    </div>
</body>
</html>
